---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/layout.astro'
import { css } from '#/styled-system/css'
import Header from '@/components/header.astro'
import PostSection from '@/components/post-section.astro'

const articles = (await getCollection('articles', (entry) => entry.data.isPublish)).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime()
})
---

<Layout title="All Posts">
  <Header />
  <main class={css({ mt: '40px' })}>
    <PostSection articles={articles} />
  </main>
</Layout>
