---
import { css } from 'styled-system/css'
import type { SystemStyleObject } from 'styled-system/types'

type Props = {
  position: 'bottom' | 'top'
  bgColor: SystemStyleObject['bgColor']
}

const { position, bgColor } = Astro.props
---

<div
  class:list={{
    [css({
      pos: 'fixed',
      zIndex: '0',
      h: '200px',
      w: '200px',
      lg: { w: '300px', h: '300px' },
      rounded: 'full',
      '--blur': '250px',
      sm: { '--blur': '250px' },
      filter: 'blur(var(--blur))',
      opacity: '0.8',
      pointerEvents: 'none',
      bgColor,
      // w: '700px',
      // h: '3000px',
      // rounded: 'full',
      // '--blur': '250px',
      // md: { '--blur': '350px' },
      // filter: 'blur(var(--blur))',
      // opacity: '0.5',
      // pointerEvents: 'none',
      // bgColor,
    })]: true,
    [css({ left: '0', top: '0' })]: position === 'top',
    [css({ right: '0', bottom: '0' })]: position === 'bottom',
  }}
>
</div>
