---
import { css } from '#/styled-system/css'
import type { SystemStyleObject } from '#/styled-system/types'

interface Props extends SystemStyleObject {
  position: 'bottom' | 'top'
}

const { position, bgColor, ...props } = Astro.props
---

<div
  class:list={{
    [css({
      ...props,
      pos: 'fixed',
      zIndex: '0',
      w: '700px',
      h: '3000px',
      rounded: 'full',
      '--blur': '250px',
      md: { '--blur': '350px' },
      filter: 'blur(var(--blur))',
      opacity: '0.5',
      pointerEvents: 'none',
      bgColor,
    })]: true,
    [css({ left: '0', top: '0' })]: position === 'top',
    [css({ right: '0', bottom: '0' })]: position === 'bottom',
  }}
>
</div>
