---
import { presentation } from '@/data/presentation'
import { css } from 'styled-system/css'
---

<header
  class={css({
    zIndex: '40',
    display: 'flex',
    w: 'full',
    flexDir: 'column',
    gap: '2',
    md: { flexDir: 'row', justifyContent: 'space-between' },
  })}
>
  <a href={`mailto:${presentation.mail}`} class={css({ _hover: { color: 'neutral.100' } })}>
    {presentation.mail}
  </a>
</header>
