---
import { removeTrailingSlash } from '@/utils/removeTrailingSlash'
import { css } from 'styled-system/css'

const pathname = removeTrailingSlash(Astro.url.pathname)
---

<nav role="navigation">
  <ul role="list" class={css({ display: 'flex', flexDir: 'row', gap: '2' })}>
    <li>
      <a
        href="/"
        class:list={{
          [css({ _hover: { color: 'neutral.100' } })]: true,
          [css({ color: 'neutral.100' })]: pathname === '/',
        }}
      >
        Home
      </a>
    </li>
    <li>/</li>
    <li>
      <a
        href="/posts"
        class:list={{
          [css({ _hover: { color: 'neutral.100' } })]: true,
          [css({ color: 'neutral.100' })]: pathname === '/posts',
        }}
      >
        Posts
      </a>
    </li>
  </ul>
</nav>
