---
import { getCollection } from 'astro:content'

import PostCard from '@/components/PostCard.astro'
import Link from '@/components/shared/Link.astro'

import { css } from 'styled-system/css'

const posts = (await getCollection('posts')).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime()
})
---

<article class={css({ display: 'flex', flexDir: 'column', gap: '8' })}>
  <header class={css({ display: 'flex', w: 'full', flexDir: 'row', justifyContent: 'space-between', gap: '2' })}>
    <h3 class={css({ textStyle: 'lg', color: 'neutral.100' })}>Latest posts</h3>
    <Link href="/posts" label="See all posts" isUnderline target="_self" />
  </header>
  {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

  <section class={css({ display: 'flex', flexDir: 'column', gap: '4', md: { flexDir: 'row', flexWrap: 'wrap' } })}>
    {
      posts.length !== 0 &&
        posts
          .slice(0, 2)
          .map((post) => (
            <PostCard
              publishedAt={post.data.publishedAt}
              title={post.data.title}
              description={post.data.description}
              slug={post.slug}
            />
          ))
    }
  </section>
</article>
