---
import '@fontsource-variable/open-sans'
import '../base.css'

import SEOTags from '@/components/seo-tags.astro'
import { type Props as SEOTagProps } from '@/components/seo-tags.astro'

import { container } from '#/styled-system/patterns'
import { css } from '#/styled-system/css'

export type Props = SEOTagProps & {
  content?: boolean
}

declare global {
  interface Window {
    va: (...args: any[]) => void
    vaq: any[]
  }
}

const { content, ...headTags } = Astro.props
---

<!doctype html>
<html lang="en">
  <SEOTags {...headTags} />
  <script
    async
    src="https://umami-nu-bice.vercel.app/script.js"
    data-website-id="4a4b809f-3b38-4291-a236-4e4b31cfe28c"
    data-domains="astahmer.dev"></script>

  <slot name="head" />

  <body
    data-content={content ? 'true' : undefined}
    class={container({
      ml: 'auto',
      mr: 'auto',
      display: 'flex',
      minH: 'screen',
      maxW: '920px',
      flexDir: 'column',
      gap: '9',
      bgColor: 'neutral.950',
      pl: '10',
      pr: '10',
      pt: '8',
      pb: '8',
      textStyle: 'sm',
      color: 'neutral.400',
      md: { gap: '12', pt: '12', pb: '12' },
      background: 'radial-gradient(circle, #00000c 20%, #011422 100%)',
      '&[data-content]': {
        bg: 'radial-gradient(circle, #00000c 60%, #011422 100%)',
      },
    })}
  >
    <div class={css({ position: 'relative' })}><slot /></div>
    <style is:global>
      html {
        font-family: 'Open Sans Variable', sans-serif;
      }
    </style>
  </body>
</html>
