---
import BlurCircle from '@/components/shared/BlurCircle.astro'
import SEOTags, { type Props as SEOTagProps } from '@/components/seo/SEOTags.astro'

import '@fontsource-variable/open-sans'
import '#/styled-system/styles.css'
import { container } from '#/styled-system/patterns'
import { css } from '#/styled-system/css'

export type Props = SEOTagProps

const headTags = Astro.props
---

<!doctype html>
<html lang="en">
  <SEOTags {...headTags} />
  <script>
    window.va =
      window.va ||
      function () {
        ;(window.vaq = window.vaq || []).push(arguments)
      }
  </script>
  <script defer src="/_vercel/insights/script.js"></script>

  <slot name="head" />

  <body
    class={container({
      ml: 'auto',
      mr: 'auto',
      display: 'flex',
      minH: 'screen',
      maxW: '1080px',
      flexDir: 'column',
      gap: '9',
      bgColor: 'neutral.950',
      pl: '10',
      pr: '10',
      pt: '8',
      pb: '8',
      textStyle: 'sm',
      color: 'neutral.400',
      md: { gap: '12', pt: '12', pb: '12' },
      background: 'radial-gradient(circle, #00000c 20%, #011422 100%)',
    })}
  >
    <BlurCircle position="top" bgColor="#00011c" zIndex="0" />
    <BlurCircle position="bottom" bgColor="#153e5c" opacity="0.2" />
    <div class={css({ position: 'relative' })}><slot /></div>
    <style is:global>
      html {
        font-family: 'Open Sans Variable', sans-serif;
      }
    </style>
  </body>
</html>
