---
import SEOTags, { type Props as SEOTagProps } from '@/components/seo-tags.astro'

import '@fontsource-variable/open-sans'
import '#/styled-system/styles.css'
import { container } from '#/styled-system/patterns'
import { css } from '#/styled-system/css'

export type Props = SEOTagProps & {
  content?: boolean
}

declare global {
  interface Window {
    va: (...args: any[]) => void
    vaq: any[]
  }
}

const { content, ...headTags } = Astro.props
---

<!doctype html>
<html lang="en">
  <SEOTags {...headTags} />
  <script>
    window.va =
      window.va ||
      function () {
        ;(window.vaq = window.vaq || []).push(arguments)
      }
  </script>
  <script defer src="/_vercel/insights/script.js"></script>

  <slot name="head" />

  <body
    class={container({
      ml: 'auto',
      mr: 'auto',
      display: 'flex',
      minH: 'screen',
      maxW: '920px',
      flexDir: 'column',
      gap: '9',
      bgColor: 'neutral.950',
      pl: '10',
      pr: '10',
      pt: '8',
      pb: '8',
      textStyle: 'sm',
      color: 'neutral.400',
      md: { gap: '12', pt: '12', pb: '12' },
      background: content
        ? 'radial-gradient(circle, #00000c 60%, #011422 100%)'
        : 'radial-gradient(circle, #00000c 20%, #011422 100%)',
    })}
  >
    <div class={css({ position: 'relative' })}><slot /></div>
    <style is:global>
      html {
        font-family: 'Open Sans Variable', sans-serif;
      }
    </style>
  </body>
</html>
