---
import Header from '../components/Header.astro'
import BlurCircle from '@/components/shared/BlurCircle.astro'
import SEOTags from '@/components/seo/SEOTags.astro'
import type { HeadTags } from '@/utils/types/HeadTags'

import '@fontsource/open-sans'
import '#/styled-system/styles.css'
import { container } from '#/styled-system/patterns'

export type Props = HeadTags

const headTags = Astro.props
---

<!doctype html>
<html lang="en">
  <SEOTags {...headTags} />

  <body
    class={container({
      ml: 'auto',
      mr: 'auto',
      display: 'flex',
      minH: 'screen',
      maxW: '1080px',
      flexDir: 'column',
      gap: '9',
      bgColor: 'neutral.950',
      pl: '10',
      pr: '10',
      pt: '8',
      pb: '8',
      textStyle: 'sm',
      color: 'neutral.400',
      md: { gap: '12', pt: '16', pb: '16' },
    })}
  >
    <Header />
    <BlurCircle position="top" bgColor="sky.400" />
    <BlurCircle position="bottom" bgColor="#A9E5BB" />
    <slot />
    <style is:global>
      html {
        font-family: 'Open Sans';
      }
    </style>
  </body>
</html>
