---
import Icon from './icon.astro'
import type { Icons } from './icon-list'
import { css } from '#/styled-system/css'

// https://github.com/withastro/starlight/blob/e0352809062b2ee1e5588f7c8c09af8e6f117b5d/packages/starlight/user-components/Card.astro

interface Props {
  icon?: keyof typeof Icons
  title: string
}

const { icon, title } = Astro.props
---

<article
  class={css({
    display: 'flex',
    flexDirection: 'column',
    padding: '4',
    border: '1px solid tokens(colors.gray.100)',
    backgroundColor: 'gray.800',
  })}
>
  <span
    class={css({
      display: 'flex',
      alignItems: 'center',
      fontWeight: 'bold',
      textStyle: 'lg',
    })}
  >
    {
      icon && (
        <Icon
          name={icon}
          class={css({
            padding: '0.2em',
            borderRadius: '0.25rem',
          })}
          size="1.333em"
        />
      )
    }
    <span set:html={title} />
  </span>
  <div class={css({ margin: 0, textStyle: 'sm' })}>
    <slot />
  </div>
</article>
