---
import { css } from '#/styled-system/css'
interface Props {
  stagger?: boolean
}

// https://github.com/withastro/starlight/blob/e0352809062b2ee1e5588f7c8c09af8e6f117b5d/packages/starlight/user-components/CardGrid.astro
const { stagger = false } = Astro.props
---

<div
  class:list={[
    css({
      display: 'grid',
      gap: '1rem',
      '& > *': { marginTop: 0 },
      '@media (min-width: 50rem)': {
        gridTemplateColumns: '1fr 1fr',
        gap: '1.5rem',
        '&.stagger': {
          '--stagger-height': '5rem',
          paddingBottom: 'var(--stagger-height)',
        },
        '&.stagger > *:nth-child(2n)': {
          transform: 'translateY(var(--stagger-height))',
        },
      },
    }),
    { stagger },
  ]}
>
  <slot />
</div>
