---
import type { HTMLAttributes } from 'astro/types'
import { css } from '#/styled-system/css'
import type { SystemStyleObject } from '#/styled-system/types'

type Props = HTMLAttributes<'a'> & {
  label: string
  css?: SystemStyleObject
  isUnderline?: boolean
}

const { label, css: cssProp, isUnderline, ...props } = Astro.props
const isInternal = props.href?.toString().startsWith('/')
---

<a
  href={props.href}
  class:list={{
    [css({ _hover: { color: 'fg.heading' }, cursor: 'pointer' }, cssProp ?? {})]: true,
    [css({ textDecorationLine: 'underline', textDecorationStyle: 'dashed', textUnderlineOffset: '8px' })]: isUnderline,
  }}
  {...props}
  {...isInternal ? {} : { target: '_blank', rel: 'noopener noreferrer' }}
>
  {label}
  <span class={css({ srOnly: true })}>{label} link</span>
</a>
